* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.arrow::after {
  content: " ";
  position: absolute;
  z-index: 20000;
  top: -1px;
  right: 32px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #e0e0e0;
}

/* Due to React-router link styling */
a {
  all: unset;
}